h1{
    color:#007684;
}
h3{
    padding-top: 1em;
    padding-bottom: 1em;
}
.space{
    padding-top: 0,5em;
    padding-bottom: 1em;
}
.info_note{
    font-size: 14px;
}
.btn-swn{
    font-family: 'InfoDisplayWeb',sans-serif;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    margin: 4px auto;
    text-decoration: none;
    cursor: pointer;
    background-color: #007684;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    transition: 0.3s ease-in-out;
}
.btn:hover, .btn-swn:hover {
    background-color: #4099a3;
    color: #fff; 
}
.accordion-button{
    padding: 40;
    font-size: 0.6em;
}
.accordion-button.erste{
    background-color: #FFCCBB;
    box-shadow: none;
    border-color: #FFCCBB;
    color: #363636;
    padding: 2em;
}
.erste:not(.collapsed) {
    background-color: #FFCCBB;
    box-shadow: none;
    border-color: #FFCCBB;
}
.erste:focus:not(:focus-visible){
    background-color: #FFCCBB;
    box-shadow: none;
    border-color: #FFCCBB;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #fff;
    background-color: #007684;
    border-color: #007684;
}
.btn{
    border-color: #007684;
    
}
.btn-check+.btn:hover {
    border-color: #007684;
    color: #699499;
}
.btn-outline-primary {
    border-color: #007684;
    color: #007684;
}

.accordion-button.zweite{
    background-color: #6EB5C0;
    box-shadow: none;
    border-color: #6EB5C0;
    color: #fff;
    padding: 2em;
}
.zweite:not(.collapsed) {
    background-color: #6EB5C0;
    box-shadow: none;
    border-color: #6EB5C0;
    color: #fff;
}
.zweite:focus:not(:focus-visible){
    background-color: #6EB5C0;
    box-shadow: none;
    border-color: #6EB5C0;
    color: #fff;
}

.accordion-button.dritte{
    background-color: #006C84;
    box-shadow: none;
    border-color: #006C84;
    color: #fff;
    padding: 2em;
}
.dritte:not(.collapsed) {
    background-color: #006C84;
    box-shadow: none;
    border-color: #006C84;
    color: #fff;
}
.dritte:focus:not(:focus-visible){
    background-color: #006C84;
    box-shadow: none;
    border-color: #006C84;
    color: #fff;
}

.accordion-button.vierte{
    background-color: #E2E8E4;
    box-shadow: none;
    border-color: #E2E8E4;
    color: #363636;
    padding: 2em;
}
.vierte:not(.collapsed) {
    background-color: #E2E8E4;
    box-shadow: none;
    border-color: #E2E8E4;
    color: #363636;
}
.vierte:focus:not(:focus-visible){
    background-color: #E2E8E4;
    box-shadow: none;
    border-color: #E2E8E4;
    color: #363636;
}
/* Grundlegende Stile für das responsive Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; /* Negative Außenabstände ausgleichen */
}

.col-2 {
    flex: 0 0 calc(16.666% - 30px); /* Berechnung für 2 Spalten */
    max-width: calc(16.666% - 30px); /* Maximalbreite für 2 Spalten */
    padding: 0 15px; /* Innenabstand hinzufügen */
}

.col-6 {
    flex: 0 0 calc(50% - 30px); /* Berechnung für 6 Spalten */
    max-width: calc(50% - 30px); /* Maximalbreite für 6 Spalten */
    padding: 0 15px; /* Innenabstand hinzufügen */
}

.col-4 {
    flex: 0 0 calc(33.333% - 30px); /* Berechnung für 4 Spalten */
    max-width: calc(33.333% - 30px); /* Maximalbreite für 4 Spalten */
    padding: 0 15px; /* Innenabstand hinzufügen */
}

/* Stile für die Radio-Button-Gruppen */
.btn-group {
    display: flex;
    align-items: center;
}

.btn-group label {
    flex: 1;
    text-align: center;
}

/* Stil für die Info-Notiz */
.info_note {
    font-size: 14px;
    color: #888;
}

/* Horizontaler Trennstrich */
hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/* Medienabfragen für verschiedene Bildschirmgrößen */
@media screen and (max-width: 768px) {
    .col-2, .col-4, .col-6 {
        flex: 0 0 calc(100% - 30px); /* Volle Breite für kleinere Bildschirme */
        max-width: calc(100% - 30px);
    }
}


